.position {
  padding: 100px 50px;
}

.link {
  text-decoration: none;
  margin-bottom: 10px;
}

.btn {
  display: inline-flex;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 4px;
  font: inherit;
  cursor: pointer;

  background-color: rgb(104, 106, 245);
  color: aqua;
  box-shadow: 2px 2px 5px green;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:active {
  background-color: rgb(78, 207, 27);
  color: brown;
  box-shadow: 5px 5px 5px rgb(65, 25, 102);

  border: 1px solid green;
}
