.main-link {
  display: block;
  margin-bottom: 50px;
}

body {
  padding: 10px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 15px;
}

.menu-item {
  position: relative;
  outline: 2px solid tomato;
}

.menu-link {
  display: block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: teal;
  color: white;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  padding: 5px;
  margin: 0;
  list-style: none;
  display: none;

  background-color: #ccc;
}

.submenu a {
  text-decoration: none;
}

.submenu li:not(last-child) {
  margin-bottom: 2px;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item:hover .menu-link {
  background-color: palevioletred;
}
